.marco *{

   outline: 4px solid red;
}

#cabeceraWeb{

    background-color:aqua;
}

#navegacionPrincipal { 
    background-color: rgb(42, 54, 165);
    display: flex;
    justify-content: center;
}

#barraLateral{
    background-color: rgb(43, 226, 98);
    height: 1020px;;
}
#contenidoPrincipal {

    background-color: rgb(118, 51, 201);
    margin-left: 20px;
    padding-left: 15px;
    padding-top: 15px;
    
}

#piePrincipal{
    background-color: yellow;
    clear:both;
    margin-top: 105px;
    
}

ul { 

    list-style: none;
    padding: 0;
}

li { 
    background-color: yellow;
    display:inline; 
    text-align: center;
}

aside {
    background-color: rgb(122, 128, 0);
    float: left;
}

blockquote {
    background-color:  rgb(255, 0, 212);
}

#quieneSomos{ 
    background-color: brown;
    text-align: left;;
    


}